* {
  margin: 0;
  box-sizing: border-box;
}
header{
    position: relative;
}
.box1{
    background-color: #FFFAF5;
}
.box1 h1{
    font-family: math;
    font-size-adjust: calc(.6);
    color: #E9811F;
    margin-left: 2%;
    margin-top: 2%;
}
.box1 span{
    color:#462512;
}
.box1 h2 {
font-family: monospace;
margin-left: 3% ;
margin-top: 0.9%;
}


button{
    display: inline-block;
    position: absolute;
    left: 70%;
    top: 8%;
}
.btn1{
    color: white;
    background-color: #E9811F;
    width:12%;
    height: 9%;
    border-color: #E9811F;
    border-style: none;
    padding: 19px 0px;
    margin: 9px 0px;
    border: none;
    border-radius: 28px;

}
.btn2{
    margin-left: 15%;
    color: black;
    background-color: white;
    width:12%;
    height: 9%;
    border-color: black;
    border-style: solid;
    padding : 19px 20px ;
    margin: 7px 160px;
    border-radius: 28px;
}
.container{
    display: flex;
    border-color: #E9811F;
    border-style: solid;
    border-width: 2px;
    
}

.box2{
    background-color: white;
    width: 1032px;
    height: 450px;
    background-image: url(img3.png);
    background-size: auto 450px;
    background-repeat: no-repeat;
}
.box3{
    width: 476px;
    height: 402px;
    top: 70px;
    left: 967px;
    border: 1px;
    padding: 24px 40px 24px 40px;
    background-color: #FFF9F4;
}
.box3 p{
    font-size: 21px;
}
.box3 span{
    font-size: 18px;
}
#name{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 28px;
  box-sizing: border-box;
}
#phone_number{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 28px;
  box-sizing: border-box;
}
#captcha{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 28px;
  box-sizing: border-box;
}
#submit{
    width: 100%;
  background-color: #E9811F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}
.box4 img{
 width: 1335px;
}
.box5{
    margin-top: 3%;
}
.box5 h3{
    text-align: center;
    font-size: 150%;
     line-height: 0.2;
     margin-top: 2%;
}
.box5 h4{
    text-align: center;
    font-weight: normal;
 line-height: 0.2;
    font-size: 110%;
    margin-top: 3%;
}
.box6{
    display: flex;
   
    margin: 3% 53% 1% 1%;
}
.box6 img{
    width: 320px;
    height: 333px;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}
.para {
    width: 320px;
    height: 332px;
    margin-left: 0%;
    text-indent: 11%;
    border-top-right-radius: 7%;
    border-bottom-right-radius:7%;
    border-color: #E9811F;
    border-style: solid;
}
#submit1{
    background-color: #E9811F;
  color: white;
  padding: 12px 23px;
  margin: -25px 31px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}
.box7{
    display: flex;
    margin-left: 50%;
    margin-top: -26.5%;
}
.box7 img{
    width: 320px;
    height: 333px;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    background-color: #E0D5CB;
    
}
.box8{
    display: flex;
    margin-top: 3%;
}
.box8 div{
    padding-right: 3%;
}
.footer{
    background-color: #462512;

}
.box9 h1{
font-family: math;
    font-size-adjust: calc(.6);
    color: #E9811F;
    margin-left: 2%;
    margin-top: 2%;
}
.box9 h2 {
font-family: monospace;
margin-left: 3% ;
margin-top: 0.1%;
color: white;
padding-bottom: 2%;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
    margin-left: 50%;
    cursor: pointer;
    justify-content:center;
    margin-top: -3%;
}


